TOKEN=

DB_HOST=postgres
DB_USER=postgres
DB_PASSWORD=
DB_NAME=jewelry_postgres
DB_PORT=5432

PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=8080

PYTHONPATH=/app

MIGRATIONS_DIR=migrations

LOG_LEVEL=INFO
USE_STREAM_HANDLER=1
USE_FILE_HANDLER=1
LOGS_DIR=logs